$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

$text-black: #343a40;
$text-white: rgba(white, .9);
$text-pearl-white: rgba(239, 231, 217, 0.8);
$text-purple: rgba(25, 25, 88, 0.8);
$text-crystal-blue: rgba(87, 206, 247, 0.8);
$text-silver: rgba(199, 207, 210, 0.8);
$text-pale-yellow: rgba(253, 253, 222, 0.8);
$text-ivory: rgba(255, 250, 240, 0.8);
$text-charcoal-gray: rgba(41, 41, 36, 0.8);

$text-custom1: #0958cf;

$rounded-borders: 15px;