---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  <!-- {{ page.date | date_to_long_string }} -   -->
  {{ page.date | date: "%d %B %Y" | replace: "January", "Enero" | replace: "February", "Febrero" | replace: "March", "Marzo" | replace: "April", "Abril" | replace: "May", "Mayo" | replace: "June", "Junio" | replace: "July", "Julio" | replace: "August", "Agosto" | replace: "September", "Septiembre" | replace: "October", "Octubre" | replace: "November", "Noviembre" | replace: "December", "Diciembre" }} -  
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    Tiempo de lectura: menos de 1 min
  {%- else -%}
    Tiempo de lectura: {{ words | divided_by: 180 }} mins
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Etiquetas: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}

</p>

{{ content }}

{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}